[Desktop Entry]
Type=Application
Name=Gibbon
GenericName=Internet Radio Player
Comment=System-tray player for internet radio (MP3) streams
Exec=gibbon
Icon=io.github.samuelb.gibbon
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=radio;stream;music;mp3;
StartupNotify=false
