[Desktop Entry]
Type=Application
Name=Whirr
GenericName=Internet Radio Player
Comment=System-tray player for internet radio (MP3) streams
Exec=whirr
Icon=io.github.samuelb.whirr
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=radio;stream;music;mp3;
StartupNotify=false
